<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="GP02-V3">

  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>
  <!-- [CAUTION] uncomment when convert to mujoco -->
  <!-- <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world"/>
    <child link="pelvis"/>
  </joint> -->

  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="-0.041542 0.000026 -0.029964"
        rpy="0 0 0" />
      <mass
        value="3.333370" />
      <inertia
        ixx="0.015982"
        ixy="-0.000007"
        ixz="0.000160"
        iyy="0.011140"
        iyz="-0.000009"
        izz="0.011631" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.015743 0.043785 -0.022680"
        rpy="0 0 0" />
      <mass
        value="0.765064" />
      <inertia
        ixx="0.000995"
        ixy="-0.000026"
        ixz="0.000038"
        iyy="0.000925"
        iyz="0.000084"
        izz="0.000871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0.05 -0.03" rpy="0 1.24 0" />
      <geometry>
        <cylinder radius="0.045" length="0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.044454 0.083 -0.053"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.008227 0.000103 -0.078575"
        rpy="0 0 0" />
      <mass
        value="1.066029" />
      <inertia
        ixx="0.002478"
        ixy="0.000002"
        ixz="-0.000626"
        iyy="0.002841"
        iyz="0.000001"
        izz="0.001737" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.045405 0.0465 -0.015399"
      rpy="0 -0.34907 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17"
      upper="2.97"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.048412 -0.004868 -0.131182"
        rpy="0 0 0" />
      <mass
        value="2.032238" />
      <inertia
        ixx="0.011567"
        ixy="-0.000319"
        ixz="-0.004309"
        iyy="0.014839"
        iyz="-0.000450"
        izz="0.005987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.005 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.001 0 -0.11" rpy="0 0.2 0" />
      <geometry>
        <cylinder radius="0.03" length="0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.01 -0.01 -0.18" rpy="0 0.5 0" />
      <geometry>
        <cylinder radius="0.022" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.08 -0.02 -0.173" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.075" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.01814 0 -0.1264"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.019030 -0.022436 -0.114825"
        rpy="0 0 0" />
      <mass
        value="2.428019" />
      <inertia
        ixx="0.013475"
        ixy="-0.000193"
        ixz="-0.002520"
        iyy="0.014545"
        iyz="-0.001128"
        izz="0.004097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.07828 0.0265 -0.1736"
      rpy="0 0.34907 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17"
      upper="2.27"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="left_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.000000 0.000628 0.000000"
        rpy="0 0 0" />
      <mass
        value="0.022617" />
      <inertia
        ixx="0.000001"
        ixy="0.000"
        ixz="0.000"
        iyy="0.000004"
        iyz="0.000"
        izz="0.000004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.057464 -0.02654 -0.2945"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.54"
      upper="0.54"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="left_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.028394 0.000008 -0.041091"
        rpy="0 0 0" />
      <mass
        value="0.440700" />
      <inertia
        ixx="0.000240"
        ixy="0.000001"
        ixz="0.000086"
        iyy="0.001236"
        iyz="0.000000"
        izz="0.001255" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0.11 0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.11 -0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.045 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.045 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.11 0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 -0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.045 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.045 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_ankle_pitch_link" />
    <child
      link="left_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.015724 -0.043892 -0.022624"
        rpy="0 0 0" />
      <mass
        value="0.765040" />
      <inertia
        ixx="0.000994"
        ixy="0.000023"
        ixz="0.000040"
        iyy="0.000926"
        iyz="-0.000084"
        izz="0.000871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.044454 -0.083 -0.053"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.008227 0.000103 -0.078575"
        rpy="0 0 0" />
      <mass
        value="1.066029" />
      <inertia
        ixx="0.002478"
        ixy="0.000002"
        ixz="-0.000626"
        iyy="0.002841"
        iyz="0.000001"
        izz="0.001737" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.045405 -0.0465 -0.015399"
      rpy="0 -0.34907 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.97"
      upper="0.17"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.048758 0.005369 -0.131593"
        rpy="0 0 0" />
      <mass
        value="2.053752" />
      <inertia
        ixx="0.011673"
        ixy="0.000345"
        ixz="-0.004337"
        iyy="0.014939"
        iyz="0.000499"
        izz="0.006080" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.005 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.001 0 -0.11" rpy="0 0.2 0" />
      <geometry>
        <cylinder radius="0.03" length="0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.01 0.01 -0.18" rpy="0 0.5 0" />
      <geometry>
        <cylinder radius="0.022" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.08 0.02 -0.173" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.075" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.01814 0 -0.1264"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.018950 0.022432 -0.114841"
        rpy="0 0 0" />
      <mass
        value="2.428562" />
      <inertia
        ixx="0.013480"
        ixy="0.000191"
        ixz="-0.002515"
        iyy="0.014547"
        iyz="0.001128"
        izz="0.004093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.07828 -0.0265 -0.1736"
      rpy="0 0.34907 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17"
      upper="2.27"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="right_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.000000 -0.000628 0.000000"
        rpy="0 0 0" />
      <mass
        value="0.022617" />
      <inertia
        ixx="0.000001"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000004"
        iyz="0.000000"
        izz="0.000004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.057271 0.02654 -0.29454"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.54"
      upper="0.54"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="right_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.028394 0.000008 -0.041091"
        rpy="0 0 0" />
      <mass
        value="0.440700" />
      <inertia
        ixx="0.000240"
        ixy="0.000001"
        ixz="0.000086"
        iyy="0.001236"
        iyz="0.000000"
        izz="0.001255" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0.11 0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.11 -0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.045 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.045 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.11 0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 -0.032 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.045 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.045 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_ankle_pitch_link" />
    <child
      link="right_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.35"
      upper="0.35"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="-0.011026 0.000056 0.042891"
        rpy="0 0 0" />
      <mass
        value="0.797591" />
      <inertia
        ixx="0.000956"
        ixy="0.000001"
        ixz="-0.000061"
        iyy="0.001209"
        iyz="0.000006"
        izz="0.001094" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.044454 0 0.069637"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="torso_link">
    <inertial>
      <origin
        xyz="-0.002477 -0.000344 0.161837"
        rpy="0 0 0" />
      <mass
        value="6.419405" />
      <inertia
        ixx="0.051566"
        ixy="-0.000108"
        ixz="-0.000997"
        iyy="0.047610"
        iyz="-0.001232"
        izz="0.028807" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/torso_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_roll_joint"
    type="fixed">
    <origin
      xyz="0.001 0 0.0522"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="torso_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.52"
      upper="0.52"
      effort="88"
      velocity="32" />
  </joint>

  <!-- IMU -->
  <link name="imu_in_torso">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="imu">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="0.07 0 0.04" rpy="0 0 0"/>
    <parent link="torso_link"/>
    <child link="imu_in_torso"/>
  </joint>

  <link name="imu_in_pelvis">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="imu">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="pelvis"/>
    <child link="imu_in_pelvis"/>
  </joint>

  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.004040 0.073763 0.000744"
        rpy="0 0 0" />
      <mass
        value="0.606132" />
      <inertia
        ixx="0.000743"
        ixy="0.000020"
        ixz="-0.000004"
        iyy="0.000584"
        iyz="0.000009"
        izz="0.000730" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.001 0.11844 0.241"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.36"
      upper="2.36"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.000446 0.025758 -0.064499"
        rpy="0 0 0" />
      <mass
        value="0.712875" />
      <inertia
        ixx="0.001688"
        ixy="-0.000012"
        ixz="0.000055"
        iyy="0.001731"
        iyz="0.000244"
        izz="0.000894" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="-0.00025 0.0803 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.010863 -0.005577 -0.079745"
        rpy="0 0 0" />
      <mass
        value="0.635773" />
      <inertia
        ixx="0.001135"
        ixy="0.000037"
        ixz="0.000209"
        iyy="0.001218"
        iyz="-0.000088"
        izz="0.000648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.05" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.013 0 -0.087" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.024" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0.00022928 0.031 -0.10395"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_elbow_link">
    <inertial>
      <origin
        xyz="0.071689 -0.000501 -0.016542"
        rpy="0 0 0" />
      <mass
        value="0.679525" />
      <inertia
        ixx="0.000735"
        ixy="-0.000072"
        ixz="0.000150"
        iyy="0.001733"
        iyz="0.000020"
        izz="0.001803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint"
    type="revolute">
    <origin
      xyz="0.02 -0.001 -0.10105"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.05"
      upper="1.57"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_elbow_yaw_link">
    <inertial>
      <origin
        xyz="0.126317 -0.003467 0.005341"
        rpy="0 0 0" />
      <mass
        value="0.522215" />
      <inertia
        ixx="0.000454"
        ixy="0.000137"
        ixz="-0.000153"
        iyy="0.004200"
        iyz="0.000094"
        izz="0.004112" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.135 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.045 0.07" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_yaw_joint"
    type="fixed">
    <origin
      xyz="0.1137 0.001 -0.02"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link" />
    <child
      link="left_elbow_yaw_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-4.19"
      upper="1.05"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.004216 -0.073736 0.000767"
        rpy="0 0 0" />
      <mass
        value="0.606525" />
      <inertia
        ixx="0.000744"
        ixy="-0.000015"
        ixz="-0.000004"
        iyy="0.000583"
        iyz="-0.000009"
        izz="0.000730" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.001 -0.11844 0.241"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.36"
      upper="2.36"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.000458 -0.025756 -0.064507"
        rpy="0 0 0" />
      <mass
        value="0.712735" />
      <inertia
        ixx="0.001687"
        ixy="0.000012"
        ixz="0.000055"
        iyy="0.001731"
        iyz="-0.000244"
        izz="0.000894" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="-0.00025 -0.0803 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.62"
      upper="0"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.010834 0.005581 -0.079749"
        rpy="0 0 0" />
      <mass
        value="0.635788" />
      <inertia
        ixx="0.001135"
        ixy="-0.000036"
        ixz="0.000210"
        iyy="0.001219"
        iyz="0.000087"
        izz="0.000648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.05" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.013 0 -0.087" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.024" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0.00022928 -0.031 -0.10395"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_elbow_link">
    <inertial>
      <origin
        xyz="0.071689 0.000515 -0.016542"
        rpy="0 0 0" />
      <mass
        value="0.679606" />
      <inertia
        ixx="0.000736"
        ixy="0.000073"
        ixz="0.000149"
        iyy="0.001734"
        iyz="-0.000019"
        izz="0.001803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint"
    type="revolute">
    <origin
      xyz="0.02 0.001 -0.10105"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.05"
      upper="1.57"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_elbow_yaw_link">
    <inertial>
      <origin
        xyz="0.125130 0.003017 0.004236"
        rpy="0 0 0" />
      <mass
        value="0.522215" />
      <inertia
        ixx="0.000443"
        ixy="-0.000124"
        ixz="-0.000148"
        iyy="0.004076"
        iyz="-0.000087"
        izz="0.003983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.135 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.045 0.07" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_yaw_joint"
    type="fixed">
    <origin
      xyz="0.1137 -0.001 -0.02"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link" />
    <child
      link="right_elbow_yaw_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.05"
      upper="4.19"
      effort="25"
      velocity="37" />
  </joint>
</robot>