<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="GP02-V2.5">

  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>
  <!-- [CAUTION] uncomment when convert to mujoco -->
  <!-- <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world"/>
    <child link="pelvis"/>
  </joint> -->

  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="-0.0000036 -0.0000364 0.0805144"
        rpy="0 0 0" />
      <mass
        value="4.4423084" />
      <inertia
        ixx="0.0210257"
        ixy="-0.0000027"
        ixz="0"
        iyy="0.0131465"
        iyz="0.0000040"
        izz="0.0135722" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.0036782 0.0490279 -0.0000931"
        rpy="0 0 0" />
      <mass
        value="1.2397134" />
      <inertia
        ixx="0.0015299"
        ixy="-0.0000042"
        ixz="-0.0000039"
        iyy="0.0015012"
        iyz="0.0000012"
        izz="0.0015352" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.079 0.058372"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0347088 0.0004334 -0.0954179"
        rpy="0 0 0" />
      <mass
        value="1.8431417" />
      <inertia
        ixx="0.0066040"
        ixy="-0.0000012"
        ixz="-0.0002297"
        iyy="0.0072784"
        iyz="-0.0000047"
        izz="0.0031605" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.0364 0.05 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17"
      upper="3.32"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.0000272 -0.0040539 -0.0819036"
        rpy="0 0 0" />
      <mass
        value="1.8171945" />
      <inertia
        ixx="0.0037082"
        ixy="0.0000312"
        ixz="-0.0000209"
        iyy="0.0039991"
        iyz="0.0000609"
        izz="0.0023282" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0364 0 -0.1564"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.0002017 0.0248607 -0.1394545"
        rpy="0 0 0" />
      <mass
        value="1.6178010" />
      <inertia
        ixx="0.0099752"
        ixy="-0.0000090"
        ixz="-0.0002695"
        iyy="0.0099423"
        iyz="0.0013096"
        izz="0.0015836" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0319999999999998 -0.0942000000000007"
      rpy="0 0 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17"
      upper="2.97"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="left_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 0 -0.0000146"
        rpy="0 0 0" />
      <mass
        value="0.0539926" />
      <inertia
       ixx="0.0000070"
        ixy="0"
        ixz="0"
        iyy="0.0000045"
        iyz="0"
        izz="0.0000085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0.000499999999999991 0.0319999999999997 -0.305"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="left_ankle_roll_link">
    <inertial>
      <origin
        xyz="-0.0023348 0.0000025 -0.0237057"
        rpy="0 0 0" />
      <mass
        value="0.5589596" />
      <inertia
        ixx="0.0004412"
        ixy="0"
        ixz="0.0000650"
        iyy="0.0012692"
        iyz="0"
        izz="0.0015379" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0.08 0.04 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.08 -0.04 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.086 0.026 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.086 -0.026 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.06 0.046 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.06 -0.046 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.03 0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.03 -0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <!-- Mid-sole support sphere to reduce edge-walking -->
    <visual>
      <origin xyz="0.1 0.0 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.08 0.04 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.08 -0.04 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.086 0.026 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.086 -0.026 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 0.046 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 -0.046 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <!-- Mid-sole support sphere to reduce edge-walking -->
    <collision>
      <origin xyz="0.1 0.0 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_ankle_pitch_link" />
    <child
      link="left_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.0036782 -0.0491869 -0.0000935"
        rpy="0 0 0" />
      <mass
        value="1.2397134" />
      <inertia
        ixx="0.0015302"
        ixy="-0.0000023"
        ixz="-0.0000039"
        iyy="0.0015012"
        iyz="0.0000010"
        izz="0.0015356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.079 0.058372"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0346720 0.0004551 -0.0954849"
        rpy="0 0 0" />
      <mass
        value="1.8465529" />
      <inertia
        ixx="0.0066182"
        ixy="0"
        ixz="-0.0002283"
        iyy="0.0072933"
        iyz="0.0000023"
        izz="0.0031674" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.036399999999999 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.32"
      upper="0.17"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.0000272 0.0040538 -0.0818592"
        rpy="0 0 0" />
      <mass
        value="1.8171887" />
      <inertia
        ixx="0.0037062"
        ixy="-0.0000312"
        ixz="-0.0000226"
        iyy="0.0039971"
        iyz="-0.0000575"
        izz="0.0023282" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0363999999999986 0 -0.156399999999999"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.0002062 -0.0248651 -0.1394548"
        rpy="0 0 0" />
      <mass
        value="1.6184702" />
      <inertia
        ixx="0.0099760"
        ixy="0.0000088"
        ixz="-0.0002696"
        iyy="0.0099429"
        iyz="-0.0012986"
        izz="0.0015838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0 0.0319999999999995 -0.0941999999999992"
      rpy="0 0 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17"
      upper="2.97"
      effort="139"
      velocity="32" />
  </joint>
  <link
    name="right_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 0 -0.0000146"
        rpy="0 0 0" />
      <mass
        value="0.0539926" />
      <inertia
        ixx="0.0000070"
        ixy="0"
        ixz="0"
        iyy="0.0000045"
        iyz="0"
        izz="0.0000085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0.000499999999999872 -0.0319999999999988 -0.305"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="right_ankle_roll_link">
    <inertial>
      <origin
        xyz="-0.0023348 0.0000025 -0.0237057"
        rpy="0 0 0" />
      <mass
        value="0.5589596" />
      <inertia
        ixx="0.0004412"
        ixy="0"
        ixz="0.0000650"
        iyy="0.0012692"
        iyz="0"
        izz="0.0015379" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0.08 0.04 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.08 -0.04 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.086 0.026 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.086 -0.026 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.06 0.046 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.06 -0.046 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.03 0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.03 -0.05 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>
    <!-- Mid-sole support sphere to reduce edge-walking -->
    <visual>
      <origin xyz="0.1 0.0 -0.0315" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="foot_sphere">
        <color rgba="1 0 0 0.75" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.08 0.04 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.08 -0.04 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.086 0.026 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.086 -0.026 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 0.046 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 -0.046 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.04 -0.05 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <!-- Mid-sole support sphere to reduce edge-walking -->
    <collision>
      <origin xyz="0.1 0.0 -0.0315" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_ankle_pitch_link" />
    <child
      link="right_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="80"
      velocity="10" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="0.0068247 -0.0000119 0.0442525"
        rpy="0 0 0" />
      <mass
        value="1.0149782" />
      <inertia
        ixx="0.0010802"
        ixy="-0.0000004"
        ixz="-0.0000276"
        iyy="0.0012420"
        iyz="0.0000018"
        izz="0.0011294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0.174171659287353"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="88"
      velocity="32" />
  </joint>
  <link
    name="torso_link">
    <inertial>
      <origin
        xyz="-0.0408915 0.0052599 0.1315171"
        rpy="0 0 0" />
      <mass
        value="8.8032496" />
      <inertia
        ixx="0.0586532"
        ixy="-0.0000711"
        ixz="0.0014408"
        iyy="0.0533788"
        iyz="0.0010249"
        izz="0.0340148" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/torso_link_150k.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/torso_link_150k.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_roll_joint"
    type="fixed">
    <origin
      xyz="0.0398000000000001 0 0.0481999999999992"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="torso_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17"
      upper="0.17"
      effort="88"
      velocity="32" />
  </joint>

  <!-- IMU -->
  <link name="imu_in_torso"></link>
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="0 0 -0.01835" rpy="0 0 0"/>
    <parent link="torso_link"/>
    <child link="imu_in_torso"/>
  </joint>

  <link name="imu_in_pelvis"></link>
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="pelvis"/>
    <child link="imu_in_pelvis"/>
  </joint>

  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.0044375 0.0698983 0.0003320"
        rpy="0 0 0" />
      <mass
        value="0.7207683" />
      <inertia
        ixx="0.0008613"
        ixy="-0.0000216"
        ixz="0.0000067"
        iyy="0.0006465"
        iyz="-0.0000015"
        izz="0.0008697" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0398000000002877 0.0917399999978368 0.214500000000071"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.36"
      upper="2.36"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0349041 0.0263450 -0.0670568"
        rpy="0 0 0" />
      <mass
        value="0.8816516" />
      <inertia
        ixx="0.0020419"
        ixy="0.0000054"
        ixz="-0.0000177"
        iyy="0.0020803"
        iyz="0.0003046"
        izz="0.0011385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0354999999999975 0.0770000000000072 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.0122996 0.0033225 -0.0740265"
        rpy="0 0 0" />
      <mass
        value="0.8462498" />
      <inertia
        ixx="0.0015260"
        ixy="-0.0000214"
        ixz="0.0002531"
        iyy="0.0015783"
        iyz="0.0000530"
        izz="0.0008355" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.035499999999978 0.0309999999999769 -0.107999999999992"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="left_elbow_link">
    <inertial>
      <origin
        xyz="0.0742848 -0.03157970 -0.0178030"
        rpy="0 0 0" />
      <mass
        value="0.8962782" />
      <inertia
        ixx="0.0008904"
        ixy="0.0000113"
        ixz="0.0001305"
        iyy="0.0020128"
        iyz="-0.0000035"
        izz="0.0021085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint"
    type="revolute">
    <origin
      xyz="0.02007443061268 0.0339561074856316 -0.0969999999999987"
      rpy="0 0 -0.00219054874368177" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0492"
      upper="1.5708"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.0044381 -0.0701032 -0.0004343"
        rpy="0 0 0" />
      <mass
        value="0.7207709" />
      <inertia
        ixx="0.0008633"
        ixy="0.0000183"
        ixz="-0.0000059"
        iyy="0.0006470"
        iyz="-0.0000019"
        izz="0.0008712" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0398000000002668 -0.0913940525963723 0.214500000000072"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.36"
      upper="2.36"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0348295 -0.0264319 -0.0668974"
        rpy="0 0 0" />
      <mass
        value="0.8795096" />
      <inertia
        ixx="0.0020319"
        ixy="-0.0000057"
        ixz="-0.0000169"
        iyy="0.0020716"
        iyz="-0.0003074"
        izz="0.0011376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0354999999999986 -0.0769999999999987 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.62"
      upper="0"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.0122700 -0.0033510 -0.0740351"
        rpy="0 0 0" />
      <mass
        value="0.8462494" />
      <inertia
        ixx="0.0015258"
        ixy="0.0000223"
        ixz="0.0002534"
        iyy="0.0015783"
        iyz="-0.0000532"
        izz="0.0008358" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0355000000000004 -0.0310000000000063 -0.107999999999997"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="2.62"
      effort="25"
      velocity="37" />
  </joint>
  <link
    name="right_elbow_link">
    <inertial>
      <origin
        xyz="0.0742869 0.0338646 -0.0179999"
        rpy="0 0 0" />
      <mass
        value="0.8962079" />
      <inertia
        ixx="0.0008911"
        ixy="-0.0000144"
        ixz="0.0001359"
        iyy="0.0020138"
        iyz="0.0000033"
        izz="0.0021088" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint"
    type="revolute">
    <origin
      xyz="0.0200000000000001 -0.0340000000000039 -0.0969999999999998"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0492"
      upper="1.5708"
      effort="25"
      velocity="37" />
  </joint>
</robot>